input {
	display: block;
	margin-bottom: 5px;
}

.center {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	margin-top: 30px;
}

/* Header style  */

div.title {
	margin: 20px;
	padding-bottom: 20px;
}

div.heading, div.description {
	font-family: "Times New Roman";
	display: block;
	color: #454545;

}

div.heading {
	font-size: 17px;
	width: 170px;
	letter-spacing: -3px;
	text-align: center;
	height: 3px;
}

div.description {
	padding-top: 8px;
	font-size: 15px;
	width: 230px;
	line-height: 12px;
}

div.heading h1, div.description p{
	color: #454545;
	display: inline;
	font-style: italic;
	font-weight: bold;
}

/* Gallery style */

div.content {
	margin-left: -10px;
	width: 450px;
	background-color: #f1f0ee;
	padding-bottom: 330px;
}

div.photo_container {
	display: inline-table;
	margin: 10px;
}

div.photo_container a img {
	padding: 5px;
	border: 1px solid #000;
	background-color: white;
}

a img {
	border: none;
}

body {
	background-color: #c2c2c2;
}

/* Nav bar */

div#nav {
	margin-right: -15px;
}

div#nav ul {
	padding-right: 10px;
}

div#nav ul li {
	list-style: none;
	line-height: 48px;
	list-style-position: right;
	text-align: right;
	font-family: "Times New Roman";
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: -2px;
}

div#nav ul li#middle {
	margin-bottom: 100px;
}

div#nav ul li:first-child {
	padding-top: 25px;
	font-size: 80px;
	line-height: 8px;
}

div#nav ul li:last-child {
	padding-top: 15px;
	line-height: 20px;
	font-size: 80px;
}

div#nav ul li a {
	color: white;
	text-decoration: none;
}

div#nav ul li a:hover {
	text-shadow: #000 4px 4px 0;
}

div#out {
	font-size: 100px;
	padding-top: 5px;
}

div#studios {
	padding-top: 6px;
	font-size: 50px;
}
