/* @override http://localhost:8888/gallery/assets/css/custom.css */

@font-face {
	font-family: Reboard;
	src: url("REBOARD.ttf") format("truetype");
}

input {
	display: block;
	margin-bottom: 5px;
}

.container {
	margin-top: 30px;
}

/* Index page */

div#homepagewrapper {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

a#homepagelink {
	text-decoration: none;
	color: #c8c8c8;
}

h1#homepageh1 {
	font-family: Reboard;
	font-size: 120px;
	text-shadow: #454545 5px 5px 0;
}

/* Login form */

form.loginform label {
	font-size: 20px;
}

/* Add photo style */

div.content {
	padding-left: 20px;
	padding-top: 20px;
	font-family: "Times New Roman";
}

div.content h1 {
	font-weight: bold;
	font-style: italic;
	letter-spacing: -2px;
	font-size: 50px;
}

div#titleform {
	padding-bottom: 15px;
}

div#titleform label, div#uploadform label {
	font-size: 25px;
	font-style: italic;
}

div#titleform input#title {
	width: 163px;
}

div#uploadform label {
	font-size: 25px;
	line-height: 40px;
}

input#submit {
	margin-top: 10px;
}

/* Header style  */

div.title {
	margin: 10px;
	padding-bottom: 20px;
	height: 30px;
}

div.heading, div.description {
	font-family: "Times New Roman";
	display: block;
	color: #454545;

}

div.heading {
	font-size: 17px;
	width: 170px;
	letter-spacing: -3px;
	text-align: center;
	height: 3px;
}

div.description {
	padding-top: 8px;
	font-size: 15px;
	width: 230px;
	line-height: 12px;
}

div.heading h1, div.description p{
	color: #454545;
	display: inline;
	font-style: italic;
	font-weight: bold;
}

/* Gallery style */

div.content {
	margin-left: -10px;
	width: 450px;
	background-color: #f1f0ee;
	padding-bottom: 330px;
}

div.photo_container {
	display: inline-table;
	margin: 5px;
}

div.photo_container a img {
	padding:5px;
	border: 1px solid #000;
	background-color: white;
}

a img {
	border: none;
}

body {
	background-color: #c2c2c2;
}

/* Nav bar */

div#nav {
	margin-right: -15px;
}

div#nav ul {
	padding-right: 10px;
}

div#nav ul li {
	list-style: none;
	line-height: 48px;
	list-style-position: right;
	text-align: right;
	font-family: "Times New Roman";
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: -2px;
}

div#nav ul li#middle {
	margin-bottom: 100px;
}

div#nav ul li:first-child {
	padding-top: 25px;
	font-size: 80px;
	line-height: 8px;
}

div#nav ul li:last-child {
	padding-top: 15px;
	line-height: 20px;
	font-size: 80px;
}

div#nav ul li a {
	color: white;
	text-decoration: none;
}

div#nav ul li a:hover {
	text-shadow: #454545 4px 4px 0;
}

div#out {
	font-size: 100px;
	padding-top: 5px;
}

div#studios {
	padding-top: 6px;
	font-size: 50px;
}
