body,
html {
margin:0;
padding:0;
color:#000;
background:white;
font-family: helvetica, sans-serif;
}

#wrap {
width:700px;
margin:0 auto;
background:white;
padding-bottom:5px;
}

#header {
background:white;
text-align:center;
border-bottom-color:#666;
border-bottom-style:dashed;
border-bottom-width:1px;
}

#main {
float:right;
width:439px;
background:white;
padding-left:50px;
border-left-color:#666;
border-left-style:dashed;
border-left-width:1px;
}

#nav {
float:left;
width: 200px;
padding-top:23px;
background:white;
}

#nav ul {
margin:0;
padding:0;
padding-left:10px;
list-style:none;
}

#nav li {
padding:5px;
}

.timestamp {
	margin-top: -5px;
	color: #979797;
}

.normal {
	margin-bottom: 10px;
}

a {
	font-family: helvetica, sans-serif;
	color: black;
	text-decoration: none;
}

a:hover {
	color: #079dd5;
}

a:active {
	color: #006daf;
}